.custom-cursor {
  position: fixed;
  top: -8px;
  left: -8px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: rgba(230, 54, 54, 0.3);
  pointer-events: none;
  z-index: 99999;
  transition: width 0.2s, height 0.2s, background 0.2s;
  mix-blend-mode: difference;
}

@media (hover: none) {
  .custom-cursor { display: none; }
}
